* {
    margin: 0px;
    padding: 0px;
}

div#header {
    width: 1000px;
}

div#main {
    width: 1000px;
}

div.info_title {
    display: inline-block;
    text-align: left;
    font-size: 15px;
    line-height: 48px;
    background-color: #aeaaaa;
    width: 900px;
    height: 50px;
    font-weight: bold;
    margin: 2%;
}

div.info_title_detail {
    line-height: 48px;
    margin: 2%;
    font-size: 15px;
    font-weight: bold;
    width: 800px;
    height: 50px;
    background-color: #e4e3e3;
}

table.info_table {
    margin: 3%;
    border-spacing: 0px;
    border: 1px solid #444444;
}

th,
td {
    border: 1px solid #444444;
    padding-top: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

div.info_contents {
    margin: 2%;
    font-size: 14px;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}